@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&family=Plus+Jakarta+Sans:wght@500;700&family=Red+Hat+Text:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    max-width: 100wh;
    max-height: 100vh;
    background-color: #08070B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;
}
h1{
    text-align: center;
    color: #817D92;
    font-size: 24px;
}
.container{
    background-color: #24232C;
    max-width: 540px;
    margin-top: 50%;
    padding: 10px;
}
.result{
    display: flex;
    align-items: center;
}
#result{
    border: none;
    background: none;
    width: 400px;
    font-size: 32px;
}
.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #24232C;
    color: #E6E5EA;
}
.slider-container{
    display: flex;
    flex-direction: column;
}
#charLength{
    display: flex;
    width: 400px;
    accent-color: #A4FFAF;
    margin-top: 20px;
}
.checkbox-container{
    margin-top: 20px;
}
.checkbox-content{
    margin-left: 20px;
}
.strength-container{
    background-color: #18171F;
    margin-top: 20px;
    text-transform: uppercase;
}
.strength-indicator{
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}
.tooweak{
    color: #F64A4A;
}
.weak{
    color: #FB7C58;
}
.medium{
    color: #F8CD65;
}
.strong{
    color: #A4FFAF;
}
.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.generate-btn button{
    background-color: #A4FFAF;
    border: none;
    width: 400px;
    height: 40px;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
}
.arrow-right{
    margin-left: 20px;
}
.generate-btn button:hover{
    background-color: #24232C;
    border: 1px solid #A4FFAF;
    color: #A4FFAF;
    cursor: pointer;
}
#result{
    color: #E6E5EA;
}
.copy-text{
    color: #A4FFAF;
    text-transform: uppercase;
}
.clipboard{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
  



